@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin:0;
    padding:0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background:linear-gradient(90deg,#530301,#FFE3E4,#ffe3e4,#fff2f3) ;
    background-size:cover;
}
#header{
    width:100%;
    height:100vh;
    background-size: cover;
    background-image:url(Contact_us.png);
}
.container{
    max-width:1300px;
    margin:40px 30px 40px 40px;
    overflow:auto;
    background-color: white;
}
.container > h6{
    font-size:x-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: centre;
    margin: 20px 30px 20px 220px;
    color:#530301;
}
.contactUs{
    position: relative;
    width:100%;
    padding:40px 100px;
}
.box{
    position:relative;
    display:grid;
    grid-template-columns:2fr 1fr;
    grid-template-rows:5fr 4fr;
    grid-template-areas:
    "form info"
    "form map";
    grid-gap:20px;
    margin-top:20px;
}
.form{
    grid-area:form;
}
.info{
    grid-area:info;
}
.map{
    grid-area:map;
}
.contact{
padding:40px;
background-color: white;
box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}
.contact>h6{
    color:#530301;
    font-weight:900;
    font-size:1.1em;
    margin-bottom:10px;
}
.formBox{
    position:relative;
    width:100%;
}
.formBox .row50{
    display:flex;
    gap:20px;
}
.inputBox{
    display:flex;
    flex-direction:column;
    margin-bottom:10px;
    width:50%;
}
.formBox .row100 .inputBox{
    width:100%;    
}
.inputBox span{
    color:#530301;
    margin-top:10px;
    margin-bottom:5px;
    font-weight:900;
}
.inputBox input{
    padding:10px;
    font-size:1.1em;
    outline:none;
    border:1px solid #333;
}
.inputBox textarea{
    padding:10px;
    font-size:1.1em;
    outline:none;
    border:1px solid #333;
    resize:none;
    min-height:220px;
    margin-bottom:10px;
}
.inputBox input[type="submit"]
{
    background:#530301;
    color:#fff;
    border:none;
    font-size:1.1em;
    max-width:120px;
    font-weight:900;
    cursor:pointer;
    padding:14px 15px;
}
.inputBox ::placeholder{
    color:grey;
}
.info{
    background-color: #530301;
}
.info h3{
    color:#fff2f3;;
}
.info .infoBox div{
    display:flex;
    align-items:center;
    margin-bottom:10px;
    margin-top:10px;
}
.info .infoBox div span{
    min-width:40px;
    height:40px;
    color:#fff2f3;
    background:#530301;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.5em;
    border-radius:50%;
    margin-right:15px;
}
.info .infoBox div p{
    color:#fff2f3;
    font-size: 1.1em;
}
.info .infoBox div a{
    color:#fff2f3;
    text-decoration: none;
    font-size: 1.1em;
} 
.sci{
    margin-top:40px;
    display:flex;
    margin-left:80px;
}
.sci li{
    list-style:none;
    margin-right:15px;
}
.sci li a{
    color:#fff2f3;
    font-size:2em;
    color:#ccc;
}
.sci li a:hover{
    color:#FFE3E4;
}
.map{
    padding:0;
}
.map iframe{
    width:100%;
    height:100%;
}

